body{
    background-size: cover;
    text-align: center;
}

#start,#status,#noo{
    font-size: 18px;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#copyright_footer{
    color: darkgrey;
    background-color: white;
    width: 100%;
    position:fixed;
    bottom: 0px;
    line-height: 3;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

#input{
    width: 300px;
}
